<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="IPFilter $(var.Version)" Language="1033" Version="$(var.Version)" Manufacturer="David Moore" UpgradeCode="15a0d30b-23cf-400b-ab67-05ca4fc13bdf" InstallerVersion="200" Scope="perUser">
        <!-- Allow upgrades or downgrades -->
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="CostInitialize" />
        </InstallExecuteSequence>
        <Upgrade Id="15a0d30b-23cf-400b-ab67-05ca4fc13bdf">
            <UpgradeVersion Minimum="0.0.0.0" IncludeMinimum="yes" MigrateFeatures="yes" Property="WIX_UPGRADE_DETECTED" />
        </Upgrade>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <!-- Add / Remove Programs support information -->
        <Property Id="ARPNOMODIFY" Value="1" />
        <Property Id="ARPPRODUCTICON" Value="ApplicationIcon.ico" />
        <Property Id="ARPURLINFOABOUT" Value="https://www.sadrobot.co.nz/ipfilter/" />
        <Property Id="ARPCONTACT" Value="David Moore" />
        <Property Id="ARPCOMMENTS" Value="IPFilter $(var.Version)" />

        <Feature Id="ProductFeature" Title="IPFilter" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="Shortcut" />
        </Feature>

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="INSTALLFOLDER" Name="IPFilter" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="IPFilter" />
        </StandardDirectory>

        <!-- Launch the application after install -->
        <Property Id="WixShellExecTarget" Value="[#ApplicationExe]" />
        <CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_X86" />
        <InstallExecuteSequence>
            <Custom Action="LaunchApplication" After="InstallFinalize" Condition="NOT REMOVE~=&quot;ALL&quot;" />
        </InstallExecuteSequence>

        <Icon Id="ApplicationIcon.ico" SourceFile="$(var.IPFilter.ProjectDir)App.ico" />

        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="Product" Guid="{B6ED0BDA-B8E1-442C-91A2-AF5B56D3F80A}">

                <RemoveFolder Id="RemoveDirectoryOnUninstall" On="uninstall" />

                <File Id="ApplicationExe" Source="$(var.IPFilter.TargetPath)" />

                <RegistryKey Root="HKCU" Key="Software\IPFilter">
                    <RegistryValue Name="Version" Value="[ProductVersion]" Type="string" KeyPath="yes" />
                </RegistryKey>

                <!-- Remove the old style app.config -->
                <RemoveFile Id="app.config" Name="$(var.IPFilter.TargetFileName).config" On="both" />

            </Component>
        </ComponentGroup>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="Shortcut" Guid="{D58B08F5-CAD3-4418-8E0B-BD50E5F0FA29}">

                <RemoveFolder Id="RemoveShortcutOnUninstall" On="uninstall" />

                <Shortcut Id="StartMenuShortcut" Name="IPFilter" Advertise="no" Target="[#ApplicationExe]" WorkingDirectory="INSTALLFOLDER" />

                <RegistryKey Root="HKCU" Key="Software\IPFilter">
                    <RegistryValue Name="InstallPath" Value="[INSTALLFOLDER]" Type="string" KeyPath="yes" />
                </RegistryKey>

            </Component>
        </DirectoryRef>

    </Package>

</Wix>